@using MiddleEarthTravel.Models
@model Member

@{
    ViewBag.Title = "Rangers of the North";
}

<div>
    A travel advisory site for the free people of Middle Earth west of the Misty Mountains.
</div>

@if (Model.DisplayName != null)
{
    <div>
        Welcome, @Model.DisplayName!
    </div>
}

<ul>
    @if (Model.DisplayName == null)
    {
        <li>
            <a href=@Url.Action("LoginStart", "Home")>Login</a>
        </li>
        <li>
            <a href=@Url.Action("RegisterStart", "Home")>Register</a>
        </li>
    }
    else
    {
        <li>
            <a href=@Url.Action("OwnInfo", "Member")>Your account</a>
        </li>
        <li>
            <a href=@Url.Action("ReportStart", "Hazard")>Report a travel hazard</a>
        </li>
    }

    <li>
        <a href=@Url.Action("Index", "Hazard", new { arrange = "newest" })>View most recent hazards</a>
    </li>
    <li>
        <a href=@Url.Action("Index", "Hazard", new { arrange = "place" })>View hazards by region</a>
    </li>
    <li>
        <a href=@Url.Action("Index", "Member", new { arrange = "newest" })>Find members</a>
    </li>

    @if (Model.IsAdmin)
    {
        <li>
            <a href=@Url.Action("Index", "Admin", new { arrange = "newest" })>Admin options</a>
        </li>
    }

</ul>
