@{

    switch (ViewBag.msg)
    {

    }

    if (TempData["msg"] != null)
    {
        switch (TempData["msg"].ToString())
        {
            case "login":
                <div class="loadmessage">login successful</div>
                break;
            case "register":
                <div class="loadmessage">registration successful</div>
                break;
            case "logout":
                <div class="loadmessage">you have been logged out</div>
                break;
            case "not_admin":
                <div class="loadmessage">not authorized to access that page</div>
                break;
            case "name_exists":
                <div class="loadmessage">that name is already in use</div>
                break;
            case "name_changed":
                <div class="loadmessage">name changed successfully</div>
                break;
            case "password_changed":
                <div class="loadmessage">password changed successfully</div>
                break;
            case "about_changed":
                <div class="loadmessage">info changed successfully</div>
                break;
            case "admin_request":
                <div class="loadmessage">your request has been submitted</div>
                break;
            case "hazard_reported":
                <div class="loadmessage">hazard submitted successfully</div>
                break;
        }

    }
}

